{% extends 'base.html' %} {% block content %}

{% if session.user == "admin" %}
{% for product in products %}
<div class="form-container container-fluid">
<form method="POST">
  <div class="form-group">
  <h2>Are you sure you want to delete {{ product.name }}?</h2>
  </div>
  <a type="button" href="{{ url_for('final_delete', product_id=product._id) }}" name="btn-delete" value="btn-delete" class="btn btn-primary">Yes, I'm sure</a>
  <a type="button" href="{{ url_for('shop') }}"  class="btn btn-danger">Cancel</a>
</form>
</div>
{% endfor %}
{% endif %}


{% endblock %}