{% extends 'base.html' %} {% block content %} {% if session.user == "admin" %}

<div class="form-container container-fluid">
  <form
    class="products-form"
    method="POST"
    action="{{ url_for('edit_product', product_id=product._id) }}"
  >
    <div class="form-group">
      <label for="category">Choose Category</label>
      <select class="form-control" id="category" name="category" required>
        {% for category in categories %} 
        {% if category.category_name == product.category %}
        <option value="{{ category.category_name }}" selected>{{ category.category_name|capitalize }}</option>
        {% else %}
        <option value="{{ category.category_name }}">{{ category.category_name|capitalize }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="product_name">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="product_name"
        name="product_name"
        value="{{ product.name }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        value="{{ product.price }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="img_src">Link to image</label>
      <input
        type="text"
        class="form-control"
        id="img_src"
        name="img_src"
        value="{{ product.img_src }}"
        required
      />
      <small id="img_help" class="form-text text-muted"
        >Please make sure to use a direct link to the image (Should end in .jpg
        or .jpeg)</small
      >
    </div>
    <div class="form-group form-check">
      {% if product.is_available == "on" %}
      <input
        type="checkbox"
        class="form-check-input"
        id="is_available"
        name="is_available"
        checked
      />
      {% else %}
      <input
        type="checkbox"
        class="form-check-input"
        id="is_available"
        name="is_available"
      />
      {% endif %}
      <label class="form-check-label" for="is_available">In Stock</label>
    </div>
    <a href="{{ url_for('shop') }}" class="btn btn-danger"
      >Cancel
      <i class="fa fa-times-circle right"></i>
    </a>
    <button type="submit" class="btn btn-success">
      Udate <i class="fa fa-edit right"></i>
    </button>
  </form>
</div>

{% endif %} {% endblock %}
