{% extends 'base.html' %} {% block content %}

<!-- Cards/Items for sale-->

<div class="container-fluid cards-container">
  <div class="opaque-overlay opaque-overlay-shop">&nbsp;</div>
  <div class="row cards-row">
    {% for product in products %}

    <div class="col-lg-3 col-md-4 col-xs-12 card">
      <img
        class="card-img-top"
        src="{{ product.img_src }}"
        alt="Card image cap"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.name }}</h5>
        <p>{{ product.price }}</p>
        {% if product.is_available == "on" %}
        <p class="stock-indicator-on d-flex flex-column">In Stock</p>
        {% else %}
        <p class="stock-indicator-off d-flex flex-column">Out of Stock</p>
        {% endif %}
        <a href="#" class="btn btn-primary mt-auto">Add to cart</a>
        {% if session.user == 'admin' %}
        <a href="{{ url_for('edit_product', product_id=product._id ) }}" class="btn btn-warning edit-btn">Edit Product
        <i class="fa fa-edit right"></i></a>
        <a href="{{ url_for('first_delete', product_id=product._id) }}" class="btn btn-danger delete-btn">Remove Product
        <i class="fa fa-times-circle right"></i></a>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Modal -->





{% endblock %}
