{% extends 'base.html' %} {% block content %}
<!-- Cards/Items for sale-->
<div class="container-fluid cards-container">
  <div class="opaque-overlay opaque-overlay-shop">&nbsp;</div>
  <div class="row">
    <form action="{{ url_for('search') }}" method="post" class="search-form">
        <div class="row valign-wrapper center-align">
            <div class="input-field col-8 col-search">
                <input type="text" name="query" id="query" minlength="3" placeholder="Search" class="validate form-control mr-sm-2"  required>
            </div>
            <div class="col-8 col-search">
            <button type="submit" class="btn btn-warning my-2 my-sm-0">
                    <i class="fa fa-search left"></i>
                </button>
                <a href="{{ url_for('shop') }}" class="btn btn-dark">Reset</a>
                
            </div>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>    
    </form>
</div>


  <div class="row cards-row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-xs-12 card">
      <img
        class="card-img-top"
        src="{{ product.img_src }}"
        alt="Card image cap"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.name }}</h5>
        <p>{{ product.price }}</p>
        {% if product.is_available == "on" %}
        <p class="stock-indicator-on d-flex flex-column">In Stock</p>
        {% else %}
        <p class="stock-indicator-off d-flex flex-column">Out of Stock</p>
        {% endif %}
        <a href="#" class="btn btn-primary mt-auto">Add to cart</a>
        {% if session.user == 'admin' %}
        <a
          href="{{ url_for('edit_product', product_id=product._id ) }}"
          class="btn btn-warning edit-btn"
          >Edit Product <i class="fa fa-edit right"></i
        ></a>
        <button data-toggle="modal"
          data-target="#ConfirmDeleteModal{{ product._id }}"
          class="btn btn-danger delete-btn"
          >Remove Product <i class="fa fa-times-circle right"></i
        ></button>
        {% endif %}

      </div>
    </div>

    <div
      class="modal fade"
      id="ConfirmDeleteModal{{ product._id }}"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Please Confirm</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{ product.name }}?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a href="{{ url_for('delete_product', product_id=product._id) }}" type="button" class="btn btn-primary">Yes, I'm sure</a>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- Modal -->

{% endblock %}
